

body{
    background-image: url(/images/movies-bg.jpeg) ; 
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.movie-logo{
    font-size: xx-large; 

}

.header {
    height: 5vh;
}

.header-nav {
    background-color: black;
}


.home-movies {
    height: 100%;
    /* background-color: hsla(0, 77%, 14%, 0.847) ;  */
    background-color: rgba(0, 0, 0, 0.851); 
    color: white;
}

.movies-trailer{
    height: 200px;
    width: 200px;
    transition: 300ms;
}

.movies-trailer:hover{
    height: 300px;
    width: 300px;   
}





.like:hover {
    color: rgb(217, 21, 21);
}


.footer{
    color: rgb(93, 88, 88);
    background-color:black;
}

.icons{
    font-size: 130%;
}

span {
    color: gray;
}

@media screen and (min-width:600px) {
    .dropdown {
        display: none;
    }
    
}





