/* * {
    padding: 0;
    margin: 0;
} */

body{
    background-image: url(/images/movie-bg.jpg) ;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}


.header {
    height: 5vh;
}



.home-movies {
    height: 100%;
    background-color: hsla(0, 77%, 14%, 0.847) ;
    color: white;
}

.movies-trailer{
    height: 200px;
    width: 200px;
    transition: 300ms;
}

.movies-trailer:hover{
    height: 300px;
    width: 300px;
    
}



.footer {
    text-align: center;
    height: 5vh;
    background-color: gray;
}

.footer-icon {
    height: 4vh;
    width: 8vw;
}



.like:hover {
    color: rgb(217, 21, 21);
}



