* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/images/movie-bg.jpg) ; 
    background-size: cover;

}


.heading {
    font-size: 60px;
    color: white;

}

.our-profiles {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
    background-color: hsl(0, 77%, 14%) ;
    

}

.profile {
    flex-basis: 260px;
}

.profile  .profile-img {
    height: 260px;
    width: 260px;
    filter: grayscale(100%);
    transition: 500ms;
}

.profile  .profile-img:hover {
    filter: grayscale(0);
    height: 300px;
    width: 300px;
}

.user-name{
    margin-top: 30px;
    font-size: 35px;
}

.profile h5{
    font-size: 18px;
    font-weight: 50;
    color: black;
}

.profile p{
    font-size: 16px;
    margin-top: 20px;

}