* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/images/movies-bg.jpeg) ; 
    background-size: cover;

}

.header-nav{
    background-color: black;
    
}

.movie-logo{
    font-size: xx-large; 

}


.heading {
    font-size: 60px;
    color: white;

}

.our-profiles {
    color: white;
    display: flex;
    justify-content: center;
    /* background-color: hsl(0, 77%, 14%) ;  */
    

}

.profiles{
    background-color: rgba(0, 0, 0, 0.74);
    width: 70vw;
}

.profile {
    flex-basis: 260px;
    
}

.profile  .profile-img {
    border-radius: 200px;
    height: 260px;
    width: 260px;
    filter: grayscale(100%);
    transition: 500ms;
}

.profile  .profile-img:hover {
    filter: grayscale(0);
    height: 300px;
    width: 300px;
}

.profile  .profile-work {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    filter: grayscale(100%);
    transition: 500ms;
}

.profile  .profile-work:hover {
    filter: grayscale(0);
    height: 240px;
    width: 240px;
}




.user-name{
    margin-top: 30px;
    font-size: 35px;
}

.profile h5{
    font-size: 18px;
    font-weight: 50;
    color: white;
}

.profile p{
    font-size: 16px;

}

.footer{
    color: rgb(93, 88, 88);
    background-color:black;
}

.icons{
    font-size: 130%;
}

span {
    color: gray;
}

@media screen and (min-width:600px) {
    .dropdown {
        display: none;
    }
    
}

