body{
    overflow-x: hidden;
}

.main-container {
    color: white;
    
    
}

a {
    text-decoration: none;
    color: white;
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: url(images/new-bg.jpg);
    background-size: cover;


}

.heading{
    margin-top: 270px;
}

.red-button {
    color: black;
    background-color: rgb(219, 18, 18);
    width: 300px;
} 


.welcome{
    font-size: 50px;    
}


#home-bg {
    filter: blur(2px);
}

.home-text {
    margin-top: 150px;
    align-items: center;
}

.header-nav{
    position: fixed;
    width: 100vw;
}

.movie-logo{
     font-size: xx-large; 

}



.home-carusela {
    justify-content: center;
    flex-flow: column wrap;
    height:100%;
    /* background-color: hsl(0, 77%, 14%) ; */
    background-color: black;
    
}


#top10 {
    color: white;
}

.carusela-images{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: ;
    height: 400px;
    width: 60%;
    animation-name: carusela;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


@keyframes carusela {
    
    0% {background-image: url(images/ambulance.webp); background-size: cover;}
    25% {background-image: url(images/spiderman.webp); background-size:cover;}
    50% {background-image: url(images/king-rich.webp); background-size: cover;}
    75% {background-image: url(images/batman.jpg); background-size: cover;}
    100% {background-image: url(images/lionking.jpg); background-size: cover;}
}  


.icons{
    font-size: 130%;
}


.footer{
    background-color: rgb(67, 62, 62);
}

span {
    color: rgb(23, 20, 20);
}

a{
    text-decoration: none;
    color: black;
}

@media screen and (min-width:600px) {
    .dropdown {
        display: none;
    }
    
}

@media screen and (max-width:600px) {
    .carusela-images{
        width: 85%;
    }
    
} 


